{
  "swagger": "2.0",
  "info": {
    "description": "스테이즈의 앱/웹 통합을 위한 REST API 문서입니다.",
    "version": "0.0.1",
    "title": "Stayes API",
    "termsOfService": "https://stayes.com/pages/terms",
    "contact": {
      "email": "dev@stayes.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "stayes.com",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "paths": {
    "/register": {
      "post": {
        "tags": [
          "sessions"
        ],
        "summary": "회원가입",
        "description": "이메일과 비밀번호, FCM 토큰을 보내면 가입 및 로그인",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "사용자 이메일",
            "type": "string"
          },
          {
            "name": "password",
            "in": "query",
            "description": "사용자 비밀번호",
            "type": "string"
          },
          {
            "name": "fcm_token",
            "in": "query",
            "description": "FCM TOKEN",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Login"
            }
          }
        }
      }
    },
    "/login": {
      "post": {
        "tags": [
          "sessions"
        ],
        "summary": "로그인",
        "description": "이메일과 비밀번호, FCM 토큰을 보내면 로그인",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "사용자 이메일",
            "type": "string"
          },
          {
            "name": "password",
            "in": "query",
            "description": "사용자 비밀번호",
            "type": "string"
          },
          {
            "name": "fcm_token",
            "in": "query",
            "description": "FCM TOKEN",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Login"
            }
          }
        }
      }
    },
    "/logout": {
      "get": {
        "tags": [
          "sessions"
        ],
        "summary": "로그아웃",
        "description": "login_token을 넣으면 해당 사용자 로그아웃",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "login_token",
            "in": "query",
            "required": true,
            "description": "",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/reset_password": {
      "post": {
        "tags": [
          "sessions"
        ],
        "summary": "패스워드 초기화",
        "description": "login 토큰을 보내면 비밀번호 초기화",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "login_token",
            "in": "query",
            "description": "Login Token",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/homes": {
      "get": {
        "tags": [
          "homes"
        ],
        "summary": "첫화면",
        "description": "첫화면을 뿌려주는데 필요한 값을 전송",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "login_token",
            "in": "query",
            "description": "로그인 되어있을 경우..",
            "type": "string"
          },
          {
            "name": "remember_me_token",
            "in": "query",
            "description": "로그인 상태 저장 토큰, 있으면 자동 로그인됨",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Home"
            }
          }
        }
      }
    },
    "/favorites": {
      "get": {
        "tags": [
          "favorites"
        ],
        "summary": "위시리스트 목록",
        "description": "user_id는 서버에서 판단. tab을 추가해서 넣으면 term 종류별로 가려받을 수도 있음.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tab",
            "in": "query",
            "description": "longterm / shortterm 골라서 받음",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "longterm",
                "shortterm"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Favorite"
              }
            }
          }
        }
      }
    },
    "/favorites/{id}": {
      "delete": {
        "tags": [
          "favorites"
        ],
        "summary": "위시리스트 삭제",
        "description": "해당 id의 favorite를 삭제",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "삭제할 favorite의 id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Wishlist not found"
          }
        }
      }
    },
    "/favorites/new": {
      "post": {
        "tags": [
          "favorites"
        ],
        "summary": "위시리스트 추가",
        "description": "방 아이디를 입력하면 현재 사용자의 위시리스트를 생성함.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "query",
            "description": "위시리스트 추가할 방 아이디",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Favorite"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Login": {
      "type": "object",
      "properties": {
        "login_token": {
          "type": "string"
        }
      }
    },
    "Home": {
      "type": "object",
      "properties": {
        "recently_seens": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Product"
          }
        },
        "user_id": {
          "type": "integer",
          "format": "int32"
        },
        "product_id": {
          "type": "integer",
          "format": "int32"
        },
        "created_at": {
          "type": "string",
          "format": "date-time"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "Product": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "status": {
          "type": "string"
        },
        "cover": {
          "type": "string"
        },
        "deposit_local_currency": {
          "type": "number",
          "format": "double"
        },
        "monthly_result_amount_local_currency": {
          "type": "number",
          "format": "double"
        },
        "room_type_category": {
          "type": "string"
        },
        "room_type_types": {
          "type": "string"
        },
        "created_at": {
          "type": "string",
          "format": "date-time"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "Favorite": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "user_id": {
          "type": "integer",
          "format": "int32"
        },
        "product_id": {
          "type": "integer",
          "format": "int32"
        },
        "created_at": {
          "type": "string",
          "format": "date-time"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time"
        }
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  }
}
