{
  "swagger": "2.0",
  "info": {
    "description": "스테이즈의 앱/웹 통합을 위한 REST API 문서입니다.",
    "version": "0.0.1",
    "title": "Stayes API",
    "termsOfService": "https://stayes.com/pages/terms",
    "contact": {
      "email": "dev@stayes.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "stayes.com",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "paths": {
    "/register": {
      "post": {
        "tags": [
          "Sessions"
        ],
        "summary": "회원가입",
        "description": "이메일과 비밀번호, FCM 토큰을 보내면 가입 및 로그인",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "사용자 이메일",
            "type": "string"
          },
          {
            "name": "password",
            "in": "query",
            "description": "사용자 비밀번호",
            "type": "string"
          },
          {
            "name": "fcm_token",
            "in": "query",
            "description": "FCM TOKEN",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Login"
            }
          }
        }
      }
    },
    "/login": {
      "post": {
        "tags": [
          "Sessions"
        ],
        "summary": "로그인",
        "description": "이메일과 비밀번호, FCM 토큰을 보내면 로그인",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "사용자 이메일",
            "type": "string"
          },
          {
            "name": "password",
            "in": "query",
            "description": "사용자 비밀번호",
            "type": "string"
          },
          {
            "name": "fcm_token",
            "in": "query",
            "description": "FCM TOKEN",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Login"
            }
          }
        }
      }
    },
    "/logout": {
      "get": {
        "tags": [
          "Sessions"
        ],
        "summary": "로그아웃",
        "description": "login_token을 넣으면 해당 사용자 로그아웃",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "login_token",
            "in": "query",
            "required": true,
            "description": "",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/reset_password": {
      "post": {
        "tags": [
          "Sessions"
        ],
        "summary": "패스워드 초기화",
        "description": "login 토큰을 보내면 비밀번호 초기화",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "login_token",
            "in": "query",
            "description": "Login Token",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },

    "/homes": {
      "get": {
        "tags": [
          "Home"
        ],
        "summary": "첫화면",
        "description": "첫화면을 뿌려주는데 필요한 값을 전송",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "login_token",
            "in": "query",
            "description": "로그인 되어있을 경우..",
            "type": "string"
          },
          {
            "name": "remember_me_token",
            "in": "query",
            "description": "로그인 상태 저장 토큰, 있으면 자동 로그인됨",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Home"
            }
          }
        }
      }
    },
    "/homes/recommendation/{id}": {
      "get": {
        "tags": [
          "Home"
        ],
        "summary": "추천 상품 페이지",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "불러올 추천 상품 페이지 id",
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProductModel"
              }
            }
          }
        }
      }
    },
    "/chats": {
      "get": {
        "tags": [
          "Chat"
        ],
        "summary": "채팅 페이지",
        "description": "채팅 유형 구분, 커스텀 메시지를 위한 유형 구분, 커스텀 메시지를 위한 객실 및 예약 관련 url, 커스텀 메시지를 위한 객실 id 등을 받아서 채팅 창을 뿌려줌.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "login_token",
            "in": "query",
            "required": true,
            "description": "",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Chat"
            }
          }
        }
      }
    },
    "/chats/product/{id}": {
      "get": {
        "tags": [
          "Chat"
        ],
        "summary": "카드형 객실 커스텀메시지 정보",
        "description": "위시리스트로 등록된 객실 정보(카드형)",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "login_token",
            "in": "query",
            "required": true,
            "description": "",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ProductModel"
            }
          }
        }
      }
    },
    "/chats/reservation/{id}": {
      "get": {
        "tags": [
          "Chat"
        ],
        "summary": "카드형 예약 커스텀메시지 정보",
        "description": "위시리스트로 등록된 객실 정보(카드형)",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "login_token",
            "in": "query",
            "required": true,
            "description": "",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/EnterRequestModel"
            }
          }
        }
      }
    },
    "/chats/bot_message": {
      "post": {
        "tags": [
          "Chat"
        ],
        "summary": "영업시간외 알림 봇 메시지",
        "description": "센드버드API",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "login_token",
            "in": "query",
            "description": "Login Token",
            "type": "string"
          },
          {
            "name": "channel_url",
            "in": "query",
            "description": "영업외 시간 알림을 전송할 채널 url",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/products/search": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "객실 검색",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "현재 페이지",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "페이지당 표시 개수",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "minimum_days_lte",
            "in": "query",
            "description": "입주기간",
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "minimum_days_gte",
            "in": "query",
            "description": "입주기간",
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "period_type",
            "in": "query",
            "description": "장기/단기",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "longterm",
                "shortterm"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "검색어",
            "type": "string"
          },
          {
            "name": "form_type",
            "in": "query",
            "description": "검색창 형태 - 지도, 상세검색, 지하철, 대학교",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "map",
                "subway",
                "university",
                "detail"
              ]
            }
          },
          {
            "name": "deposit_gte",
            "in": "query",
            "description": "보증금",
            "type": "number",
            "format": "double"
          },
          {
            "name": "deposit_lte",
            "in": "query",
            "description": "보증금",
            "type": "number",
            "format": "double"
          },
          {
            "name": "monthly_result_amount_gte",
            "in": "query",
            "description": "월세",
            "type": "number",
            "format": "double"
          },
          {
            "name": "monthly_result_amount_lte",
            "in": "query",
            "description": "월세",
            "type": "number",
            "format": "double"
          },
          {
            "name": "pet_available",
            "in": "query",
            "description": "애완동물 가능",
            "type": "boolean"
          },
          {
            "name": "parking_lot_present",
            "in": "query",
            "description": "주차 가능",
            "type": "boolean"
          },
          {
            "name": "room_type",
            "in": "query",
            "description": "방 종류",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "longterm",
                "shortterm"
              ]
            }
          },
          {
            "name": "top_left_lat",
            "in": "query",
            "description": "지도 범위 좌표",
            "type": "number",
            "format": "double"
          },
          {
            "name": "top_left_lng",
            "in": "query",
            "description": "지도 범위 좌표",
            "type": "number",
            "format": "double"
          },
          {
            "name": "bottom_right_lat",
            "in": "query",
            "description": "지도 범위 좌표",
            "type": "number",
            "format": "double"
          },
          {
            "name": "bottom_right_lng",
            "in": "query",
            "description": "지도 범위 좌표",
            "type": "number",
            "format": "double"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "정렬",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProductModel"
              }
            }
          }
        }
      }
    },
    "/products/{id}/inquires/new": {
      "get": {
        "tags": [
          "Inquire"
        ],
        "summary": "예약가능여부 확인",
        "description": "해당 방의 예약가능여부 확인 신청 페이지 그려줄때 사용.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "예약가능여부를 확인할 방 아이디",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "login_token",
            "in": "query",
            "required": true,
            "description": "",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/NewInquire"
              }
            }
          }
        }
      }
    },
    "/products/{id}/inquires": {
      "post": {
        "tags": [
          "Inquire"
        ],
        "summary": "예약가능여부 문의 처리",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "예약가능여부를 확인할 방 아이디",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "login_token",
            "in": "query",
            "required": true,
            "description": "Login Token",
            "type": "string"
          },
          {
            "name": "enter_request",
            "in": "body",
            "description": "문의 정보 object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnterRequestModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          }
        }
      }
    },
    "/products/{product_id}/reservations/{id}/edit": {
      "get": {
        "tags": [
          "Reservation"
        ],
        "summary": "예약문의 페이지",
        "description": "거주자정보 입력 화면 그려줄 때 사용",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "description": "예약가능여부를 확인할 방 아이디",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "이전 예약가능여부 확인한 EnterRequest 아이디",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "login_token",
            "in": "query",
            "required": true,
            "description": "",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EnterRequestModel"
              }
            }
          }
        }
      }
    },
    "/products/{product_id}/reservations/{id}": {
      "patch": {
        "tags": [
          "Reservation"
        ],
        "summary": "예약문의 처리",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "description": "예약가능여부를 확인할 방 아이디",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "이전 예약가능여부 확인한 EnterRequest 아이디",
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "login_token",
            "in": "query",
            "required": true,
            "description": "",
            "type": "string"
          },
          {
            "name": "contractors",
            "in": "body",
            "required": true,
            "description": "거주자 정보 및 추가 거주자 정보 array",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Contractor"
              }
            }
          },
          {
            "name": "enter_request",
            "in": "body",
            "description": "문의 정보 object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnterRequestModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EnterRequestModel"
              }
            }
          }
        }
      }
    },
    "/favorites": {
      "get": {
        "tags": [
          "favorites"
        ],
        "summary": "위시리스트 목록",
        "description": "user_id는 서버에서 판단. tab을 추가해서 넣으면 term 종류별로 가려받을 수도 있음.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tab",
            "in": "query",
            "description": "longterm / shortterm 골라서 받음",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "longterm",
                "shortterm"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Favorite"
              }
            }
          }
        }
      }
    },
    "/favorites/{id}": {
      "delete": {
        "tags": [
          "favorites"
        ],
        "summary": "위시리스트 삭제",
        "description": "해당 id의 favorite를 삭제",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "삭제할 favorite의 id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Wishlist not found"
          }
        }
      }
    },
    "/favorites/new": {
      "post": {
        "tags": [
          "favorites"
        ],
        "summary": "위시리스트 추가",
        "description": "방 아이디를 입력하면 현재 사용자의 위시리스트를 생성함.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "query",
            "description": "위시리스트 추가할 방 아이디",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Favorite"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Login": {
      "type": "object",
      "properties": {
        "login_token": {
          "type": "string"
        }
      }
    },
    "Home": {
      "type": "object",
      "properties": {
        "recently_seens": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductModel"
          }
        }
      }
    },
    "ProductModel": {
      "title": "ProductModel",
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "status": {
          "type": "string"
        },
        "cover": {
          "type": "string"
        },
        "deposit_local_currency": {
          "type": "number",
          "format": "double"
        },
        "monthly_amount_local_currency": {
          "type": "number",
          "format": "double"
        },
        "monthly_result_amount_local_currency": {
          "type": "number",
          "format": "double"
        },
        "due": {
          "type": "number",
          "format": "double"
        },
        "commissions": {
          "type": "number",
          "format": "double"
        },
        "contract_fee": {
          "type": "number",
          "format": "double"
        },
        "total_fee": {
          "type": "number",
          "format": "double"
        },
        "name_for_user": {
          "type": "string"
        },
        "room_type_category": {
          "type": "string"
        },
        "room_type_types": {
          "type": "string"
        },
        "main_subway_name": {
          "type": "string"
        },
        "minimum_days_text": {
          "type": "integer",
          "format": "int32"
        },
        "pet_available": {
          "type": "boolean"
        },
        "parking_lot_present": {
          "type": "boolean"
        },
        "created_at": {
          "type": "string",
          "format": "date-time"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "Chat": {
      "type": "object",
      "properties": {
        "chat_type": {
          "type": "string"
        },
        "custom_type": {
          "type": "string"
        },
        "url": {
          "type": "string"
        },
        "instance_id": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "EnterRequestModel": {
      "title": "EnterRequestModel",
      "type": "object",
      "properties": {
        "pet_available": {
          "type": "boolean"
        },
        "parking_lot_present": {
          "type": "boolean"
        },
        "product": {
          "$ref": "#/definitions/ProductModel"
        },
        "reqest_info": {
          "$ref": "#/definitions/RequestInfo"
        },
        "user_info": {
          "$ref": "#/definitions/UserInfo"
        },
        "payment_info": {
          "$ref": "#/definitions/PaymentInfo"
        },
        "created_at": {
          "type": "string",
          "format": "date-time"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "RequestInfo": {
      "type": "object",
      "properties": {
        "request_checkin_date": {
          "type": "string",
          "format": "date-time"
        },
        "request_checkout_date": {
          "type": "string",
          "format": "date-time"
        },
        "number_of_man": {
          "type": "integer",
          "format": "int32"
        },
        "number_of_woman": {
          "type": "integer",
          "format": "int32"
        },
        "request_body": {
          "type": "string"
        },
        "request_product_ids": {
          "type": "string"
        },
        "request_destination": {
          "type": "string"
        }
      }
    },
    "UserInfo": {
      "type": "object",
      "properties": {
        "user_language": {
          "type": "string"
        },
        "user_name": {
          "type": "string"
        },
        "user_email": {
          "type": "string"
        }
      }
    },
    "PaymentInfo": {
      "type": "object",
      "properties": {
        "payment_service_fee_type": {
          "type": "string"
        },
        "payment_brokerage_type": {
          "type": "string"
        },
        "payment_balance_fee": {
          "type": "string"
        }
      }
    },
    "NewInquire": {
      "type": "object",
      "properties": {
        "previous_enter_request": {
          "$ref": "#/definitions/EnterRequestModel"
        },
        "product": {
          "$ref": "#/definitions/ProductModel"
        }
      }
    },
    "Contractor": {
      "type": "object",
      "properties": {
        "first_name": {
          "type": "string"
        },
        "last_name": {
          "type": "string"
        },
        "country_code": {
          "type": "string"
        },
        "phone": {
          "type": "string"
        }
      }
    },
    "Favorite": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32"
        },
        "user_id": {
          "type": "integer",
          "format": "int32"
        },
        "product_id": {
          "type": "integer",
          "format": "int32"
        },
        "created_at": {
          "type": "string",
          "format": "date-time"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time"
        }
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  }
}
